*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

$black: #000
$prime: #C61A03

body
    min-height: 100vh
    font-size: 16px
    color: white
    background-color: #161616
    font-family: 'Karla', sans-serif
    position: relative
    z-index: 1
    display: flex
    flex-direction: column

    &.active
        overflow: hidden

img
    max-width: 100%

a,
button
    color: $black
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:active
        transform: scale(.98)

    &:hover
        opacity: .8

.h2
    margin-bottom: 10px

ul
    list-style: none

.btn
    &_white
        padding: 5px 24px
        display: inline-block
        background-color: #fff
        border-radius: 100px
        img
            display: block
            width: 38px
    &_green
        border-radius: 50px
        padding: 5px 20px 13px
        font-weight: 700
        font-size: 48px
        background-color: #30D03E
        color: white
        display: block
        text-align: center
    &_sm
        min-width: 170px
        text-align: center
        font-size: 20px
        margin: 0 8px 0 0
        padding: 7px 17px 6px
        background-color: #5B5B5B
        border-radius: 20px
        display: inline-block
        color: white
        box-shadow: 0px 6.10067081451416px 24.40268325805664px 0px #00000040

section,.section
    padding: 100px 0

input
    width: 100%
    background-color: #5B5B5B
    height: 50px
    border-radius: 110px
    padding: 0 20px
    font-size: 20px
    font-weight: 500
    color: white
    &::placeholder
        color: #868686

.nowrap
    white-space: nowrap

.wrap, .wrapper
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

.form
    flex-wrap: nowrap
    gap: 11px
    margin: 13px 0 38px

.h1
    font-size: 36px
    text-align: center
    margin: 0
    // white-space: nowrap
    // overflow: hidden
    // text-overflow: ellipsis

.headline
    font-size: 48px
    line-height: 56.11px
    margin: 0
    &.wrap 
        justify-content: flex-start
        gap: 13px

.links
    margin: 28px 0 36px

.link
    color: #2A99FF
    font-weight: 500
    font-size: 36px
    line-height: 42.08px
    display: inline-block
    &:hover
        text-decoration: underline

.textline
    font-size: 24px

.title
    text-align: center
    margin-bottom: 35px
    .textline
        margin: 0 !important

.info
    width: 28px
    height: 28px
    position: relative
    z-index: 111
    background-repeat: no-repeat
    background-position: center center
    background-image: url('../img/questionmark.svg')
    background-size: contain
    &__text
        position: absolute
        z-index: 111
        top: 100%
        left: -10px
        font-size: 14px
        line-height: 130%
        font-weight: 400
        width: 250px
        padding: 12px
        background-color: #212121
        border-radius: 14px
        visibility: hidden
        transform: translateY(-10px)
        opacity: 0
        transition: all ease .3s
        box-shadow: 0px 4px 10px 5px #00000040

    &:hover
        .info__text
            visibility: visible
            transform: translateY(0)
            opacity: 1

.img
    width: 142px
    height: 142px
    display: block
    border-radius: 45px
    object-fit: cover
    background-color: #fff
    transition: all ease .3s
    &:hover
        opacity: .6

.heading
    font-size: 36px
    margin: 0
    &.wrap
        justify-content: flex-start
        gap: 6px

    img
        vertical-align: middle
        display: inline-block

.difference
    mix-blend-mode: difference

.ranger
    background-color: #fff
    padding: 15px 60px
    margin: 16px 0 39px
    display: block
    font-weight: 500
    text-align: center
    line-height: 110%
    width: 100%
    border-radius: 50px
    font-size: 38px
    color: black
    position: relative
    z-index: 1
    &__text
        mix-blend-mode: difference
        color: white

    &__item
        position: absolute
        top: 7px
        left: 7px
        max-width: calc( 100% - 14px )
        height: calc( 100% - 14px )
        border-radius: 40px
        transform-origin: 0 0
        background-color: #000
        z-index: -1
        animation: ranger_anim 3s ease infinite

@keyframes ranger_anim
    0%
        width: 14%
        left: 7px
        right: auto

    25%
        left: 7px
        right: auto
        width: 100%

    25.01%
        width: 100%
        left: auto
        right: 7px

    50%
        left: auto
        right: 7px
        width: 14%

    75%
        left: auto
        right: 7px
        width: 100%

    75.01%
        left: 7px
        right: auto

    100%
        left: 7px
        right: auto
        width: 14%

@media screen and ( max-width: 1100px )
    .ranger
        font-size: 32px
        width: 100%

    .h1
        font-size: 34px

    .headline
        font-size: 40px

    .heading
        font-size: 30px

    .btn
        &_green
            font-size: 40px

    .textline
        font-size: 20px

@media screen and ( max-width: 700px )
    .h1
        font-size: 22px

    .img
        border-radius: 35px

    .heading
        font-size: 20px
        img
            max-width: 22px

    .headline
        font-size: 26px

    .textline
        font-size: 16px

    .title
        margin-bottom: 20px

    .form
        margin: 8px 0 24px
        display: block
        text-align: center
        input
            width: 100%
            font-size: 16px
            height: 45px

        .btn_white
            text-align: center
            display: block
            width: 60%
            margin: 10px auto 0
            img
                margin: 0 auto
                width: 30px

    .ranger
        font-size: 20px
        padding: 15px
        margin-bottom: 29px
        &__item
            top: 5px
            left: 5px
            max-width: calc( 100% - 10px )
            height: calc( 100% - 10px )

    .link
        font-size: 20px
        line-height: 130%

    .btn
        &_sm
            font-size: 14px
            min-width: 130px
            margin: 0 3px 8px

        &_green
            font-size: 20px
            padding: 8px 10px 13px

.loader
    text-align: center
    .title
        margin-bottom: 8vh
    &__item
        padding: 35px 76px
        background-color: #212121
        border-radius: 300px
        display: inline-block
        img
            display: block
            margin: 0 auto
            animation: rotate_anim 2s linear infinite

@keyframes rotate_anim
    0%
        transform: rotate(0)
    100%
        transform: rotate(-360deg)
