@import 'normolize'
// @import 'fonts'
@import 'elements'

main
    min-height: 100vh
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    background-image: url('../img/bg_strip.svg')
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    .container
        margin: auto 0

    @media screen and ( max-width: 1000px )
        background-position: right center

.logo
    text-align: right
    margin: 0
    width: 100%
    max-width: 1163px
    padding: 50px 15px 30px

.sender
    text-align: center
    width: 200px !important
    margin: 0 2% 0 0
    &__text
        display: block
        font-weight: 500
        font-size: 24px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    .img
        width: 184px
        height: 184px
        margin: 6px auto 11px

.popular
    text-align: center
    width: 322px
    .headline
        margin-bottom: 20px

    .wrap
        gap: 20px

    .img
        width: 142px
        height: 142px

.box
    background-color: #212121
    width: 100%
    max-width: 1010px
    box-shadow: 0px 10px 40px 0px #00000040
    min-height: 40px
    border-radius: 64px
    padding: 32px 50px

.footer
    padding: 30px 0 18px
    a
        display: inline-block
        padding: 8px
        opacity: .6
        &:hover
            opacity: 1

    img
        border-radius: 14px
        box-shadow: 0px 4px 4px 0px #00000040

.content:not(.is_active)
    // display: none
    margin-bottom: 100px

.main
    .box

.sucsess
    justify-content: space-between
    .box
        width: calc( 100% - 362px )

    .popular
        // width: 34%

    .btn_green
        margin-top: 13px

.error
    &_link
        .box
            max-width: 777px
            margin: 0 auto
        .textline
            margin-bottom: 16px

    &_delivery
        .box
            max-width: 800px
            margin: 0 auto

        .heading
            margin-top: 34px

@media screen and ( max-width: 1000px )
    .main
        text-align: center
        .box
            flex-direction: column-reverse

        .col
            width: 100%

        .sender
            margin-bottom: 30px

        .ranger
            width: 100%

    .sucsess
        display: block
        .box
            width: 100%
            margin-bottom: 30px

    .popular
        width: 100%
        .wrap
            justify-content: center

@media screen and ( max-width: 700px )
    .logo
        padding: 20px 15px 30px
        img
            max-width: 120px
    .sender
        &__text
            font-size: 19px

        .img
            width: 144px
            height: 144px
    .box
        padding: 28px 20px
        border-radius: 40px

    .footer
        a
            opacity: 1
        img
            width: 40px
            border-radius: 9px
